.video__title {
    max-width: 322px;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    margin: 0;
    padding-top: 12px;

}

@media screen and (max-width: 1023px) {
    .video__title {
        padding-top: 8px;
        font-size: 24px;
        line-height: 26px;
    }
}