@import url(./__image/cover__image.css);
@import url(./__bg-container/cover__bg-container.css);
@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
    margin: 102px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cover:hover .cover__bg-container {
    transition: opacity .5s linear;
    opacity: .7;
}

/* на мелких разрешениях начиная с 768 на картинке видно железнодорожника, картинка скачивалась с 1440 из-за качества,
   но там по видимому картинка скрыта через свойство cover и поэтому скачивается обрезанной, поэтому она немного не соответствует
   на разрешении 768, скачать полную картинку в хорошем качестве неоткуда*/