.cover__image {
    width: 100%;
    height: auto;
    grid-column: 1/4;
    grid-row: 1/4;
}

@media screen and (max-width: 1279px) {
    .cover__image {
        height: 562px;
        width: 1024px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__image {
        height: 500px;
        width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .cover__image {
        height: 272px;
        width: 375px;
    }
}

@media screen and (max-width: 374px) {
    .cover__image {
        height: 216px;
        width: 320px;
    }
}
/*картинке нельзя задать height auto между брейкпоинтами тк она начинает уменьшаться пропорционально
и в итоге к 1025px ее высота будет 514px а на 1024 высота должна быть 562px (с 1024 до 768 разница
в высоте увеличивается геометрически и высота будет 385 когда надо 500)
получается картинка будет делать скачок в большую сторону на меньшем разрешении,
поэтому, чтобы не разрушать пропорциональность и соответствовать макету, были выставлены 
и ширина и высота.*/